<div class="container">
  <h1>Login Here! </h1>

  <form action="/login" id="login_prompt" method="GET">
  Email: <input type="email" name="login[email]"><br>
  Password: <input type="password" name="login[password]"><br>
  <input type="submit" value="Login!"> 
</form>
</div>
